.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal section img[alt="hp"] {
    width: 50%;
    margin-top: -2em;
}

.orange {
    color: #f8981d;
}

.reveal .shapes {
    list-style: none;
    margin: 0;
}
