.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal section img[alt="hp"] {
    width: 50%;
    margin-top: -2em;
}

.orange {
    color: #f8981d;
}

.reveal .shapes {
    list-style: none;
    margin: 0;
}

.p {
    color: #ffa500;
}
.r {
    color: #da70d6
}
.o {
    color: #00ff7f;
}
.g {
    color: #9400d3;
}
.a {
    color: #4682b4;
} 
.m {
    color: #fa8072
}
.w {
    color: #da70d6;
}
.n {
    color: #ff0000;
}
.i {
    color: #1e90ff;
}
.e {
    color: #ff1493;
}

.ada img {
    max-width: 300px;
}

.bio {
    max-width: 50%;
}

.endslide {
    display: flex;
    flex-direction: column;
}

.endslide .row {
    flex-direction: row;
}

.endslide .row img {
    max-width: 300px;
}

.endslide .bio {
    vertical-align: top;
    margin-top: 1em;
}

.reveal section img[alt="HiddenAda"] {
    visibility: hidden;
    position: absolute;
}